//NavBar content
div#navbar.navbar.navbar-fixed-top
  div.navbar-inner
    a.brand(href="#") Pepper Elephant
    ul.nav
      li.dropdown
        a.dropdown-toggle(href="#shows",data-toggle="dropdown",data-target="#")
          | Shows
          b.caret
        ul#show_list_nav.dropdown-menu
    form#nav-search.navbar-search.pull-right
      input.search-query(type="text",placeholder="Search")