html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -70px;
}
#wrap #content {
  padding-top: 60px;
}
@media screen and (max-width: 979px) {
  #wrap #content {
    padding-top: 0px;
  }
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
#sidebar {
  padding-left: 12px;
  padding-bottom: 12px;
  background-color: #dceaf4;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbd8e9;
}
#main_content {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #dceaf4;
}
