h3 {{name}} -
  em {{year}}
//TODO add nav bar here
h4#songs Songs
table.table.table-condensed.table-hover.table-striped.table-bordered
  thead
    tr
      th Song Name
      th Band
  tbody()
    | {{#songs}}
    tr
      td(id='{{name}}') {{name}}
      td
          | {{#band}}
          | <a href="\\#{{.}}">{{.}}<br /></a>
          | {{/band}}
    | {{/songs}}
a(href="#") Top
h4#bands Bands
table.table.table-condensed.table-hover.table-striped.table-bordered
  thead
    tr
      th Band Name
      th Members
  tbody
    | {{#bands}}
    tr
      td(id="{{.}}") {{.}}
      td
        em.muted Coming soon
    | {{/bands}}

a(href="#") Top
