h1 Pepper Alumni
p.lead
  | Welcome to the Pepper Alumni, 25 Years of History squashed into one site.

form.form-search
  input.input-block-level.search-query(type="text",placeholder="Search for Person/Show/Song")