!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome to Pepper Elephant
    != SocketStream
  body
    div#content
      // Logo and link
      a(href="https://github.com/socketstream/socketstream")
        img(
          src="/images/pepper_elephant.png",alt="Pepper Elephant Logo")
      h1 Welcome to Pepper Elephants
      pre
        code This will be awesome! and dont you forget it!


