!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Pepper Elephant
    //SocketStream auto imports
    != SocketStream
  body
    div#wrap
      //NavBar
      include includes/head-navbar
      // Page Content
      div#content.container-fluid
        div.row-fluid
          // SideBar
          div#sidebar.span2
            include includes/sidebar
          //MainContent
          div#main_content.span10
            include includes/main-content

      //Pushes the content down for the nav bar
      div#push

    include includes/footer

